<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>

    <head>
        <style>
         figure{ display:inline-block;}
        </style>
    
        <meta charset="utf-8">
        <title>About Us</title>
    </head>

    <body style="background-color:linen;"">
        <center><h1>About Team Drawbot...</h1></center> <!--If this doesnt work, it because its in HTML 5, which doesnt support <center> -->
        <center><a href="/">Go back to main page</a></center>
        <p>
            Project DrawBot is our SJSU CmpE Senior Project. The focus of this project is on what we have learned about machine learning, application design, coding, and program construction. 
        </p>

        <h2>Proud Members of Team DrawBot!</h2>

        <p>
         
         <figure>
         <img src="/static/Dan.jpg" alt="Daniel Man" width="300" height="377">
         <h4>Daniel Man</h4><br>
         </figure>

         <figure>
         <img src="/static/Jon.jpg" alt="Jonathan Rojas" width="300" height="377">
         <h4>Jonathan Rojas</h4><br>
         </figure>

         <figure>
         <img src="/static/Ian.jpg" alt="Ian Ramos" width="300" height="377">
         <h4>Ian Ramos</h4><br>
         </figure>
        
         <figure>
         <img src="/static/Jeff.jpg" alt="Jeffrey Huynh" width="300" height="377">
         <h4>Jeffrey Huynh</h4><br>
         </figure>

        </p>

        <center>
        <figure>
        <h3>And Our advisor, SJSU CmpE Professor Michael Robinson</h6>
        <img src="/static/Robinson.jpg" alt="Michael Robinson" width="300" height="377">
        </figure>
        </center>

        <center><a href="/">Go back to main page</a></center>
    </body>
</html>