<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Drawing</title>
    </head>
    <body style="background-color:lightgrey;"">
        <center><h1>Start Drawing!</h1></center> <!--If this doesnt work, it because its in HTML 5, which doesnt support <center> -->
        <center><a href="/">Go back to main page</a></center>
        
        <p>This would be where we would place application from Jonathan</p>

        <center><img src="/static/demo_pic.png" alt="demo pick of interface" width="1000" height="800"></center>


        <br><br><center><a href="/">Go back to main page</a></center>
        
    </body>
</html>