<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DrawBot!</title>

        <!-- text-align is a CSS for center, works on HTML5 -->
        <style> 
			h1 {text-align:center;} 
		</style>

    </head>

    <body style="background-color:lightgrey;"> <!-- This is a comment, normal code is <body>. This adds color -->

        <h1>Welcome to the Draw Robot Virtual Application!</h1> <!-- text-align is a CSS for center, works on HTML5 -->
        <center><h2>A SJSU Computer Engineering Senior Project</h2></center>

         <center><img src="/static/drawbot.jpeg" alt="Draw Bot" width="500" height="377"></center>
         <center><a href="/about/">About Team Drawbot</a></center> <br><br>
         <center><a href="/draw/">Drawing Application</a></center> <br><br>

        <h2>With the Drawbot...</h2>

         <p>This application can be used to test the classification and identification capabilities of the Drawbot.
         	<br>Here, the user can use a drawing interface to sketch an image and send it to the DrawBot.
         	<br>It would utalize Training Data created through Machine Learning to identify whay the user has drawn and respond withs its conclusion.
         </p> 

        <h3>Project Drawbot Abstarction</h3>
         <p>
			Machine learning is an increasingly popular trend in the technology industry attracting a multitude of companies and businesses. With the rise of technological advancements made in the 1990’s, the new hardware allowed for computers to perform more computationally dense tasks; hardware was the main limiting factor. The basic concept of machine learning is to grant the computer the ability to learn without explicit hard-programming. This project will utilize machine-learning concepts in order for a computer to learn how to identify objects and generate a model of the drawn object.
			<br><br>
			While there is existing software that can analyze specific objects in images, the software can only identify the object without any other application. While this may be useful for filtering objects from certain images, it poses a challenge on what the optimal use for this software can be. There is a need to improve this software to complete more tasks so this field of technology can continue to thrive. Another problem that this project will encounter is deciding which machine-learning algorithm to use for this project.
			<br><br>
			By utilizing and enhancing the several machine learning object identification software, the goal is to create an application that identifies objects with drawn images created by the user. This application will have features that define objects and be able to create a virtual model of the object, enhancing the use of machine learning object detection software. Additionally, a new algorithm and research will be a required; this is to integrate machine-learning object detection software with the ability create virtual sketches. The goal is to simulate a human’s ability to learn what objects are and the ability to draw them from memory into a software application.        
        	
        </p>

        <center><p>Current Version of our project report available here.<p></center>

        	<center>
			<a href="/static/Team DrawBot Project Report.pdf" download> <!--this is the file to be downloaded-->
			  <img border="0" src="/static/pdflogo.png" alt="PDF" width="104" height="142"> <!--this is image that is clicked for the file above-->
			</a>
			</center>

    </body>

</html>
